{
    "AUTHOR": {{author or '"David Omar"'}},
    "SITENAME": {{sitename or '"Ginpar"'}},
    "THEME": {{theme or '"gart"'}},
    "PATH": "content",
    "SRIPTS": {
        "P5": "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"
    }
}